# --------- pytorch --------- #
torch
torchvision
torchmetrics

# --------- others --------- #
matplotlib      # plotting
SimpleITK       # read/write io for data
monai           # data loading and transforms
einops          # useful tensor/array operations
tqdm            # progress bar
torchsummary    # model summary
